@model Web.MVC.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div style="width: 100%; height: 100%; padding: 10px">

    <h2>Delete</h2>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Anh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoLuong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DonGiaBan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DonGiaNhap)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayNhap)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NhaSanXuat.TenNSX)
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Anh)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SoLuong)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DonGiaBan)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DonGiaNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NgayNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NhaSanXuat.TenNSX)
                    </td>
                </tr>
                <!-- Repeat the above <tr> block for each data item -->
            </tbody>
        </table>
    </div>
    <p class="lead">Bạn chắc chắn xóa @Model.TenSP chứ?</p>
    @using (Html.BeginForm("Delete", "SanPham", FormMethod.Post, new { @class = "mt-3" }))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Xóa</button>
        @Html.ActionLink("Quay về trang chủ", "Index", null, new { @class = "btn btn-primary" })
    }
</div>
